* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

img {
  display: block;
  width: 100%;
}

h1 {
  margin-bottom: 15px;
}

.search-travel {
  margin-bottom: 25px;
}

.travels-container {

  max-width: 1200px;
  margin: 0 auto;

}

.card-container {

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

article {
  max-width: calc((100% - 20px)/ 3);
}

.travels {

  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
  margin: 0 auto;


}

/* img {
  width: 300px;
  height: 200px;
} */

.travel-card {
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 35px;
  padding: 4%;
  background-color: rgba(144, 238, 144, 0.5);
}