* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

img {
  display: block;
  width: 100%;
}

header {
  font-family: "Russo One", sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  color: rgb(132, 128, 128);
  margin-bottom: 15px;
}

header span {
  color: red;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 15px;
}

.search-travel {
  margin-bottom: 25px;
}

.travels-container {

  max-width: 1200px;
  margin: 0 auto;

}

.card-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
}



@media screen and (max-width: 768px) {

  .travels-container {
    margin: 0 20px;
  }
}